{% extends 'baseadmin.html.twig' %}
{% block body %}
    <div class="divider"></div>
    <h2 class="headline">Edit category</h2>
    <form action="{{ path('category_edit', {'id': category.id}) }}" method="post">
    {#<form action="" method="post">#}
        <div class="form-group">
            <label for="categoryname">Category name</label>
            <input type="text" name="categoryname" id="categoryname" class="form-control" value="{{ category.name }}">
        </div>
        <button name="submit" value="submit" type="submit" class="btn btn-primary">Save</button>
        <div class="bottom-divider"></div>
    </form>
{% endblock %}