{% extends 'baseadmin.html.twig' %}
{% block body %}
    <div class="divider"></div>
    <h2 class="headline">Add category</h2>
    <form action="{{ path('category_add') }}" method="post">
        <div class="form-group">
            <label for="categoryname">Category name</label>
            <input type="text" name="categoryname" id="categoryname" class="form-control">
        </div>
        <button type="submit" value="submit" name="submit" class="btn btn-primary">Save</button>
        <div class="bottom-divider"></div>
    </form>
{% endblock %}